*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a{
    text-decoration: none;
    box-shadow: none;
}

header{
    height: 80px;
	margin: auto;
	width: 	60%;
	padding: 0px;
	background-color: black;
}


ul{
	text-indent: 10px; 
    list-style: none;
    float:right;
    display: flex;
    margin-top: 30px;
    margin-right: 20px;
}

.supercell{
    margin-top: 30px;
	margin-top: 15px;
	margin-left: -200px;
	margin-right: 200px;
	width : 75%;
	height : 75%;
}


ul li a{
    text-decoration: none;
    color: white;
    position: relative;
    padding: 15px 20px;
    border: 5px solid;
    border-color: white;
    border-radius: 50px; 
}

ul li a:hover{
	color: rgb(108, 215, 241);
	border-color: rgb(108, 215, 241);
	transition: .5s;
}

ul li a:hover::after{
	transition: 1s;
}


h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: white;
}

h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: white;
}

h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 260px;
    color: white;
}

p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 260px;
    color: white;
}

body{
    background-color: rgb(49, 49, 49);
}

.box{
    width: 1400px;
    display: flex;
    margin: 10px auto;
}

.item{
    flex: 1;
    transition: .2s;
}

.item1{
    height: 300px;
    border: 2px solid black;
    flex: 1;
    transition: .2s;
    align-items: center;
    display: flex;
    justify-content: center;
    background-image: url(images/hdv8.jpg);
	opacity : 75%;
}

.item2{
    height: 300px;
    border: 2px solid black;
    flex: 1;
    transition: .2s;
    align-items: center;
    display: flex;
    justify-content: center;
    background-image: url(images/hdv9.jpg);
	opacity : 75%;
}

.item3{
    height: 300px;
    border: 2px solid black;
    flex: 1;
    transition: .2s;
    align-items: center;
    display: flex;
    justify-content: center;
    background-image: url(images/hdv10.jpg);
	opacity : 75%;
}

.item4{
    height: 300px;
    border: 2px solid black;
    flex: 1;
    transition: .2s;
    align-items: center;
    display: flex;
    justify-content: center;
    background-image: url(images/hdv11.jpg);
	opacity : 75%;
}

.item5{
    height: 300px;
    border: 2px solid black;
    flex: 1;
    transition: .2s;
    align-items: center;
    display: flex;
    justify-content: center;
    background-image: url(images/hdv12.jpg);
	opacity : 75%;
}

.item6{
    height: 300px;
    border: 2px solid black;
    flex: 1;
    transition: .2s;
    align-items: center;
    display: flex;
    justify-content: center;
    background-image: url(images/hdv13.jpg);
	opacity : 75%;
}

.item7{
    height: 300px;
    border: 2px solid black;
    flex: 1;
    transition: .2s;
    align-items: center;
    display: flex;
    justify-content: center;
    background-image: url(images/hdv14.jpg);
	opacity : 75%;
}


.item:hover{
    flex: 2;
}

.item1:hover{
	opacity : 100%;
}
.item2:hover{
	opacity : 100%;
}
.item3:hover{
	opacity : 100%;
}
.item4:hover{
	opacity : 100%;
}
.item5:hover{
	opacity : 100%;
}
.item6:hover{
	opacity : 100%;
}
.item7:hover{
	opacity : 100%;
}
